body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    text-align: center;
    list-style: none;
    z-index: 100;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar a:hover {
    color: #4dbbcf;
}

.heading {
    color: white;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;   
}

.main {
}

#video {
    position: absolute;
    display:block;
    margin:auto;
    padding-left:11.5%;
}

#about {
    height:600px;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    display: block;
    padding-top:100px;
    font-size: 20px;
}

#about p {
    padding-left: 20%;
    padding-right: 20%;
    
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36pt;
}

#home {
    height: 784px;
    width: 100%;
    display:block;
    margin:auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#gallery {
    height: 840px;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;  
    padding-top:100px; 
}

#map {
    height: 784px;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;
    padding-top:100px;
}

.button {
    border: 2px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:"Josefin Sans", sans-serif; 
}

#ella {
	background-image: url("images/ellabubble.jpg");
	background-position: center center;
}

#ella:hover{
	background:red;
}

#luke {
	background-image: url("images/lukebubble.jpg");
	background-position: center center;
}

#luke:hover{
	background:purple;
}

#mikayla {
    background-image: url("images/mikaylabubble.jpg");
    background-position: center center;
}

#mikayla:hover{
	background:#165af6
}

#bunny{
    background-image: url("images/bunnybubble.jpg");
    background-position: center center;
}

#bunny:hover{
	background:orange;
}

#alex{
    background-image: url("images/alexbubble.jpg");
    background-position: center center;
}
#alex:hover{
	background:green;
}

.button:hover {
    color: white;
}

.navbar img {
    height:75;
    width: auto;
    display: inline-block;
    
}

.links {}

.fa {
    padding: 10px;
    text-decoration: none;
    float: right;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-envelope {
    color:white;
}

.fa-twitter:hover {
	color:#00aced;
}

.fa-instagram:hover{
	color:#fccc63;
}

.fa-youtube:hover{
	color:#e52d27;
}

.fa-envelope:hover{
    color:limegreen;
}

.socialmedia{
 	overflow: hidden;
 	background-color: transparent;
 	position: fixed;
 	bottom:0;
 	width: 100%;
}

.instagallery {
    margin: auto;
    display: block;

}

.mapImg{
	padding-top:40px;
	margin:auto:
}

.symbols {
    display: block;
    margin: auto;
}

#mapText{
	font-family: "Josefin Sans", sans-serif;
	font-size:20px;
}
