body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: transparent
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    list-style: none;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar a:hover {
    color: #4dbbcf;
}

.heading {
    color: white;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;   
}

.main {
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#about {
    height:784px;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    display: block;   
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36pt;
}

#home {
    height: 784px;
    width: 100%;
}

#gallery {
    height: 784px;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;   
}

#map {
    height: 784px;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;
}
