body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: transparent
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    text-align: center;
    list-style: none;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.navbar a:hover {
    color: #4dbbcf;
}

.heading {
    color: white;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;   
}

.main {
}

video {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

#about {
    height:784px;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    display: block;   
}

#about p {
    padding-left: 20%;
    padding-right: 20%;
    
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 36pt;
}

#home {
    height: 784px;
    width: 100%;
}

#gallery {
    height: 784px;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;   
}

#map {
    height: 784px;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;
}

.button {
    border: 2px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:"Helvetica", sans-serif; 
}

#ella {
}

#luke {
    
}

#mikayla {
    background-image: url("Portrait-0058_retouched.jpg");
}

.button:hover {
    color: white;
}

.navbar img {
    height:75;
    width: auto;
    display: inline-block;
    
}

.links {}
